<link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css"/>
<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
      <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class="jumbotron">
        <h1>Ansibleを使った環境の構築方法について</h1>
        <p>ansibleを使った環境の構築方法について、インストールから説明します。</p>
      </div>
      <div class="row">
        <div>
          <h2>インストール</h2>
          <p>インストールします。どこからともなく、持ってきてインストールしたら良いと思います。インストールできなかったとしても、特に気にする必要はありません。東京地方今日の天気は晴れ、山沿いの地域で午後の遅い時間に弱い雨が降るでしょう。</p>
          <h3>ダウンロード</h3>
          <p>インストールした後に、何かをダウンロードします。したくなかったらする必要はありません。しなくていいことをして過ごすほど人生は長くありません。</p>
        </div><!--/.col-xs-6.col-lg-4-->
      </div><!--/row-->
    </div><!--/.col-xs-12.col-sm-9-->

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <a href="#" class="list-group-item active">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
      </div>
    </div><!--/.sidebar-offcanvas-->
  </div><!--/row-->

  <hr>

  <footer>
  <p>&copy; 2016 Example, Inc.</p>
  </footer>
</div>
