<link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css"/>
<h1>This is {{roomName}}</h1>
<h2>Welcome to Sample Application</h2>
<div class="navbar-collapse collapse" id="navbar-main">
<ul class="nav navbar-nav">
<li>ExpsAmple</li>
<li>Help</li>
<li>Login</li>
</ul>
</div>
<form action="../users">
<input type="text" name="user" placeholder="user" />
<input type="text" name="comment" placeholder="comment" />
<button type="submit">SEND</button>
</form>
